<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.richstonedt.garnet.mapper.PermissionMapper">
  <resultMap id="BaseResultMap" type="com.richstonedt.garnet.model.Permission">
    <!--
      WARNING - @mbg.generated
      此SQL语句为自动生成，请不要修改.
      DATE: 2018-04-12 18:06
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="RESOURCE_PATH_WILDCARD" jdbcType="VARCHAR" property="resourcePathWildcard" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="CREATED_TIME" jdbcType="DECIMAL" property="createdTime" />
    <result column="MODIFIED_TIME" jdbcType="DECIMAL" property="modifiedTime" />
    <result column="APPLICATION_ID" jdbcType="DECIMAL" property="applicationId" />
    <result column="TENANT_ID" jdbcType="DECIMAL" property="tenantId" />
    <result column="STATUS" jdbcType="DECIMAL" property="status" />
    <result column="UPDATED_BY_USER_NAME" jdbcType="VARCHAR" property="updatedByUserName" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
      此SQL语句为自动生成，请不要修改.
      DATE: 2018-04-12 18:06
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
      此SQL语句为自动生成，请不要修改.
      DATE: 2018-04-12 18:06
    -->
    <where>
      <foreach collection="criteria.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
      此SQL语句为自动生成，请不要修改.
      DATE: 2018-04-12 18:06
    -->
    ID, RESOURCE_PATH_WILDCARD, NAME, DESCRIPTION, CREATED_TIME, MODIFIED_TIME, APPLICATION_ID, 
    TENANT_ID, STATUS, UPDATED_BY_USER_NAME
  </sql>
  <select id="selectByCriteria" parameterType="com.richstonedt.garnet.model.criteria.PermissionCriteria" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      此SQL语句为自动生成，请不要修改.
      DATE: 2018-04-12 18:06
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from GAR_PERMISSIONS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="start != null and end !=null ">
      limit #{start} , #{end}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      此SQL语句为自动生成，请不要修改.
      DATE: 2018-04-12 18:06
    -->
    select 
    <include refid="Base_Column_List" />
    from GAR_PERMISSIONS
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
      此SQL语句为自动生成，请不要修改.
      DATE: 2018-04-12 18:06
    -->
    delete from GAR_PERMISSIONS
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.richstonedt.garnet.model.criteria.PermissionCriteria">
    <!--
      WARNING - @mbg.generated
      此SQL语句为自动生成，请不要修改.
      DATE: 2018-04-12 18:06
    -->
    delete from GAR_PERMISSIONS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.richstonedt.garnet.model.Permission">
    <!--
      WARNING - @mbg.generated
      此SQL语句为自动生成，请不要修改.
      DATE: 2018-04-12 18:06
    -->
    insert into GAR_PERMISSIONS (ID, RESOURCE_PATH_WILDCARD, NAME, 
      DESCRIPTION, CREATED_TIME, MODIFIED_TIME, 
      APPLICATION_ID, TENANT_ID, STATUS, 
      UPDATED_BY_USER_NAME)
    values (#{id,jdbcType=DECIMAL}, #{resourcePathWildcard,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{createdTime,jdbcType=DECIMAL}, #{modifiedTime,jdbcType=DECIMAL}, 
      #{applicationId,jdbcType=DECIMAL}, #{tenantId,jdbcType=DECIMAL}, #{status,jdbcType=DECIMAL}, 
      #{updatedByUserName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.richstonedt.garnet.model.Permission">
    <!--
      WARNING - @mbg.generated
      此SQL语句为自动生成，请不要修改.
      DATE: 2018-04-12 18:06
    -->
    insert into GAR_PERMISSIONS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="resourcePathWildcard != null">
        RESOURCE_PATH_WILDCARD,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="createdTime != null">
        CREATED_TIME,
      </if>
      <if test="modifiedTime != null">
        MODIFIED_TIME,
      </if>
      <if test="applicationId != null">
        APPLICATION_ID,
      </if>
      <if test="tenantId != null">
        TENANT_ID,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="updatedByUserName != null">
        UPDATED_BY_USER_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="resourcePathWildcard != null">
        #{resourcePathWildcard,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=DECIMAL},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=DECIMAL},
      </if>
      <if test="applicationId != null">
        #{applicationId,jdbcType=DECIMAL},
      </if>
      <if test="tenantId != null">
        #{tenantId,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        #{status,jdbcType=DECIMAL},
      </if>
      <if test="updatedByUserName != null">
        #{updatedByUserName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByCriteria" parameterType="com.richstonedt.garnet.model.criteria.PermissionCriteria" resultType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
      此SQL语句为自动生成，请不要修改.
      DATE: 2018-04-12 18:06
    -->
    select count(*) from GAR_PERMISSIONS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByCriteriaSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
      此SQL语句为自动生成，请不要修改.
      DATE: 2018-04-12 18:06
    -->
    update GAR_PERMISSIONS
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.resourcePathWildcard != null">
        RESOURCE_PATH_WILDCARD = #{record.resourcePathWildcard,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null">
        NAME = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null">
        DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.createdTime != null">
        CREATED_TIME = #{record.createdTime,jdbcType=DECIMAL},
      </if>
      <if test="record.modifiedTime != null">
        MODIFIED_TIME = #{record.modifiedTime,jdbcType=DECIMAL},
      </if>
      <if test="record.applicationId != null">
        APPLICATION_ID = #{record.applicationId,jdbcType=DECIMAL},
      </if>
      <if test="record.tenantId != null">
        TENANT_ID = #{record.tenantId,jdbcType=DECIMAL},
      </if>
      <if test="record.status != null">
        STATUS = #{record.status,jdbcType=DECIMAL},
      </if>
      <if test="record.updatedByUserName != null">
        UPDATED_BY_USER_NAME = #{record.updatedByUserName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByCriteria" parameterType="map">
    <!--
      WARNING - @mbg.generated
      此SQL语句为自动生成，请不要修改.
      DATE: 2018-04-12 18:06
    -->
    update GAR_PERMISSIONS
    set ID = #{record.id,jdbcType=DECIMAL},
      RESOURCE_PATH_WILDCARD = #{record.resourcePathWildcard,jdbcType=VARCHAR},
      NAME = #{record.name,jdbcType=VARCHAR},
      DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      CREATED_TIME = #{record.createdTime,jdbcType=DECIMAL},
      MODIFIED_TIME = #{record.modifiedTime,jdbcType=DECIMAL},
      APPLICATION_ID = #{record.applicationId,jdbcType=DECIMAL},
      TENANT_ID = #{record.tenantId,jdbcType=DECIMAL},
      STATUS = #{record.status,jdbcType=DECIMAL},
      UPDATED_BY_USER_NAME = #{record.updatedByUserName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.richstonedt.garnet.model.Permission">
    <!--
      WARNING - @mbg.generated
      此SQL语句为自动生成，请不要修改.
      DATE: 2018-04-12 18:06
    -->
    update GAR_PERMISSIONS
    <set>
      <if test="resourcePathWildcard != null">
        RESOURCE_PATH_WILDCARD = #{resourcePathWildcard,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createdTime != null">
        CREATED_TIME = #{createdTime,jdbcType=DECIMAL},
      </if>
      <if test="modifiedTime != null">
        MODIFIED_TIME = #{modifiedTime,jdbcType=DECIMAL},
      </if>
      <if test="applicationId != null">
        APPLICATION_ID = #{applicationId,jdbcType=DECIMAL},
      </if>
      <if test="tenantId != null">
        TENANT_ID = #{tenantId,jdbcType=DECIMAL},
      </if>
      <if test="status != null">
        STATUS = #{status,jdbcType=DECIMAL},
      </if>
      <if test="updatedByUserName != null">
        UPDATED_BY_USER_NAME = #{updatedByUserName,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.richstonedt.garnet.model.Permission">
    <!--
      WARNING - @mbg.generated
      此SQL语句为自动生成，请不要修改.
      DATE: 2018-04-12 18:06
    -->
    update GAR_PERMISSIONS
    set RESOURCE_PATH_WILDCARD = #{resourcePathWildcard,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      CREATED_TIME = #{createdTime,jdbcType=DECIMAL},
      MODIFIED_TIME = #{modifiedTime,jdbcType=DECIMAL},
      APPLICATION_ID = #{applicationId,jdbcType=DECIMAL},
      TENANT_ID = #{tenantId,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=DECIMAL},
      UPDATED_BY_USER_NAME = #{updatedByUserName,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <select id="selectSingleByCriteria" parameterType="com.richstonedt.garnet.model.criteria.PermissionCriteria" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      此SQL语句为自动生成，请不要修改.
      DATE: 2018-04-12 18:06
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from GAR_PERMISSIONS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <insert id="insertBatchSelective" parameterType="java.util.List">
    <!--
      WARNING - @mbg.generated
      此SQL语句为自动生成，请不要修改.
      DATE: 2018-04-12 18:06
    -->
    insert into GAR_PERMISSIONS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="list[0].id!=null">
        ID,
      </if>
      <if test="list[0].resourcePathWildcard!=null">
        RESOURCE_PATH_WILDCARD,
      </if>
      <if test="list[0].name!=null">
        NAME,
      </if>
      <if test="list[0].description!=null">
        DESCRIPTION,
      </if>
      <if test="list[0].createdTime!=null">
        CREATED_TIME,
      </if>
      <if test="list[0].modifiedTime!=null">
        MODIFIED_TIME,
      </if>
      <if test="list[0].applicationId!=null">
        APPLICATION_ID,
      </if>
      <if test="list[0].tenantId!=null">
        TENANT_ID,
      </if>
      <if test="list[0].status!=null">
        STATUS,
      </if>
      <if test="list[0].updatedByUserName!=null">
        UPDATED_BY_USER_NAME,
      </if>
    </trim>
     values 
    <foreach collection="list" index="index" item="item" separator=",">
      <trim prefix=" (" suffix=")" suffixOverrides=",">
        <if test="item.id!=null">
          #{item.id,jdbcType=DECIMAL},
        </if>
        <if test="item.resourcePathWildcard!=null">
          #{item.resourcePathWildcard,jdbcType=VARCHAR},
        </if>
        <if test="item.name!=null">
          #{item.name,jdbcType=VARCHAR},
        </if>
        <if test="item.description!=null">
          #{item.description,jdbcType=VARCHAR},
        </if>
        <if test="item.createdTime!=null">
          #{item.createdTime,jdbcType=DECIMAL},
        </if>
        <if test="item.modifiedTime!=null">
          #{item.modifiedTime,jdbcType=DECIMAL},
        </if>
        <if test="item.applicationId!=null">
          #{item.applicationId,jdbcType=DECIMAL},
        </if>
        <if test="item.tenantId!=null">
          #{item.tenantId,jdbcType=DECIMAL},
        </if>
        <if test="item.status!=null">
          #{item.status,jdbcType=DECIMAL},
        </if>
        <if test="item.updatedByUserName!=null">
          #{item.updatedByUserName,jdbcType=VARCHAR},
        </if>
      </trim>
    </foreach>
  </insert>
  <update id="updateBatchByPrimaryKeySelective" parameterType="java.util.List">
    <!--
      WARNING - @mbg.generated
      此SQL语句为自动生成，请不要修改.
      DATE: 2018-04-12 18:06
    -->
    <foreach collection="list" index="index" item="item" separator=";">
      update GAR_PERMISSIONS
      <set>
        <if test="item.resourcePathWildcard!=null">
          RESOURCE_PATH_WILDCARD=#{item.resourcePathWildcard,jdbcType=VARCHAR},
        </if>
        <if test="item.name!=null">
          NAME=#{item.name,jdbcType=VARCHAR},
        </if>
        <if test="item.description!=null">
          DESCRIPTION=#{item.description,jdbcType=VARCHAR},
        </if>
        <if test="item.createdTime!=null">
          CREATED_TIME=#{item.createdTime,jdbcType=DECIMAL},
        </if>
        <if test="item.modifiedTime!=null">
          MODIFIED_TIME=#{item.modifiedTime,jdbcType=DECIMAL},
        </if>
        <if test="item.applicationId!=null">
          APPLICATION_ID=#{item.applicationId,jdbcType=DECIMAL},
        </if>
        <if test="item.tenantId!=null">
          TENANT_ID=#{item.tenantId,jdbcType=DECIMAL},
        </if>
        <if test="item.status!=null">
          STATUS=#{item.status,jdbcType=DECIMAL},
        </if>
        <if test="item.updatedByUserName!=null">
          UPDATED_BY_USER_NAME=#{item.updatedByUserName,jdbcType=VARCHAR},
        </if>
      </set>
      where 
      ID = #{item.id,jdbcType=DECIMAL}
    </foreach>
  </update>
</mapper>