<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.richstonedt.garnet.mapper.UserCredentialMapper">
  <resultMap id="BaseResultMap" type="com.richstonedt.garnet.model.UserCredential">
    <!--
      WARNING - @mbg.generated
      此SQL语句为自动生成，请不要修改.
      DATE: 2018-04-12 18:06
    -->
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="CREATED_TIME" jdbcType="DECIMAL" property="createdTime" />
    <result column="MODIFIED_TIME" jdbcType="DECIMAL" property="modifiedTime" />
    <result column="CREDENTIAL" jdbcType="VARCHAR" property="credential" />
    <result column="EXPIRED_DATE_TIME" jdbcType="DECIMAL" property="expiredDateTime" />
    <result column="USER_ID" jdbcType="DECIMAL" property="userId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
      此SQL语句为自动生成，请不要修改.
      DATE: 2018-04-12 18:06
    -->
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <!--
      WARNING - @mbg.generated
      此SQL语句为自动生成，请不要修改.
      DATE: 2018-04-12 18:06
    -->
    <where>
      <foreach collection="criteria.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
      此SQL语句为自动生成，请不要修改.
      DATE: 2018-04-12 18:06
    -->
    ID, CREATED_TIME, MODIFIED_TIME, CREDENTIAL, EXPIRED_DATE_TIME, USER_ID
  </sql>
  <select id="selectByCriteria" parameterType="com.richstonedt.garnet.model.criteria.UserCredentialCriteria" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      此SQL语句为自动生成，请不要修改.
      DATE: 2018-04-12 18:06
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from GAR_USER_CREDENTIALS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="start != null and end !=null ">
      limit #{start} , #{end}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      此SQL语句为自动生成，请不要修改.
      DATE: 2018-04-12 18:06
    -->
    select 
    <include refid="Base_Column_List" />
    from GAR_USER_CREDENTIALS
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
      此SQL语句为自动生成，请不要修改.
      DATE: 2018-04-12 18:06
    -->
    delete from GAR_USER_CREDENTIALS
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <delete id="deleteByCriteria" parameterType="com.richstonedt.garnet.model.criteria.UserCredentialCriteria">
    <!--
      WARNING - @mbg.generated
      此SQL语句为自动生成，请不要修改.
      DATE: 2018-04-12 18:06
    -->
    delete from GAR_USER_CREDENTIALS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.richstonedt.garnet.model.UserCredential">
    <!--
      WARNING - @mbg.generated
      此SQL语句为自动生成，请不要修改.
      DATE: 2018-04-12 18:06
    -->
    insert into GAR_USER_CREDENTIALS (ID, CREATED_TIME, MODIFIED_TIME, 
      CREDENTIAL, EXPIRED_DATE_TIME, USER_ID
      )
    values (#{id,jdbcType=DECIMAL}, #{createdTime,jdbcType=DECIMAL}, #{modifiedTime,jdbcType=DECIMAL}, 
      #{credential,jdbcType=VARCHAR}, #{expiredDateTime,jdbcType=DECIMAL}, #{userId,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.richstonedt.garnet.model.UserCredential">
    <!--
      WARNING - @mbg.generated
      此SQL语句为自动生成，请不要修改.
      DATE: 2018-04-12 18:06
    -->
    insert into GAR_USER_CREDENTIALS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="createdTime != null">
        CREATED_TIME,
      </if>
      <if test="modifiedTime != null">
        MODIFIED_TIME,
      </if>
      <if test="credential != null">
        CREDENTIAL,
      </if>
      <if test="expiredDateTime != null">
        EXPIRED_DATE_TIME,
      </if>
      <if test="userId != null">
        USER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="createdTime != null">
        #{createdTime,jdbcType=DECIMAL},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=DECIMAL},
      </if>
      <if test="credential != null">
        #{credential,jdbcType=VARCHAR},
      </if>
      <if test="expiredDateTime != null">
        #{expiredDateTime,jdbcType=DECIMAL},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByCriteria" parameterType="com.richstonedt.garnet.model.criteria.UserCredentialCriteria" resultType="java.lang.Long">
    <!--
      WARNING - @mbg.generated
      此SQL语句为自动生成，请不要修改.
      DATE: 2018-04-12 18:06
    -->
    select count(*) from GAR_USER_CREDENTIALS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByCriteriaSelective" parameterType="map">
    <!--
      WARNING - @mbg.generated
      此SQL语句为自动生成，请不要修改.
      DATE: 2018-04-12 18:06
    -->
    update GAR_USER_CREDENTIALS
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=DECIMAL},
      </if>
      <if test="record.createdTime != null">
        CREATED_TIME = #{record.createdTime,jdbcType=DECIMAL},
      </if>
      <if test="record.modifiedTime != null">
        MODIFIED_TIME = #{record.modifiedTime,jdbcType=DECIMAL},
      </if>
      <if test="record.credential != null">
        CREDENTIAL = #{record.credential,jdbcType=VARCHAR},
      </if>
      <if test="record.expiredDateTime != null">
        EXPIRED_DATE_TIME = #{record.expiredDateTime,jdbcType=DECIMAL},
      </if>
      <if test="record.userId != null">
        USER_ID = #{record.userId,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByCriteria" parameterType="map">
    <!--
      WARNING - @mbg.generated
      此SQL语句为自动生成，请不要修改.
      DATE: 2018-04-12 18:06
    -->
    update GAR_USER_CREDENTIALS
    set ID = #{record.id,jdbcType=DECIMAL},
      CREATED_TIME = #{record.createdTime,jdbcType=DECIMAL},
      MODIFIED_TIME = #{record.modifiedTime,jdbcType=DECIMAL},
      CREDENTIAL = #{record.credential,jdbcType=VARCHAR},
      EXPIRED_DATE_TIME = #{record.expiredDateTime,jdbcType=DECIMAL},
      USER_ID = #{record.userId,jdbcType=DECIMAL}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.richstonedt.garnet.model.UserCredential">
    <!--
      WARNING - @mbg.generated
      此SQL语句为自动生成，请不要修改.
      DATE: 2018-04-12 18:06
    -->
    update GAR_USER_CREDENTIALS
    <set>
      <if test="createdTime != null">
        CREATED_TIME = #{createdTime,jdbcType=DECIMAL},
      </if>
      <if test="modifiedTime != null">
        MODIFIED_TIME = #{modifiedTime,jdbcType=DECIMAL},
      </if>
      <if test="credential != null">
        CREDENTIAL = #{credential,jdbcType=VARCHAR},
      </if>
      <if test="expiredDateTime != null">
        EXPIRED_DATE_TIME = #{expiredDateTime,jdbcType=DECIMAL},
      </if>
      <if test="userId != null">
        USER_ID = #{userId,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.richstonedt.garnet.model.UserCredential">
    <!--
      WARNING - @mbg.generated
      此SQL语句为自动生成，请不要修改.
      DATE: 2018-04-12 18:06
    -->
    update GAR_USER_CREDENTIALS
    set CREATED_TIME = #{createdTime,jdbcType=DECIMAL},
      MODIFIED_TIME = #{modifiedTime,jdbcType=DECIMAL},
      CREDENTIAL = #{credential,jdbcType=VARCHAR},
      EXPIRED_DATE_TIME = #{expiredDateTime,jdbcType=DECIMAL},
      USER_ID = #{userId,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <select id="selectSingleByCriteria" parameterType="com.richstonedt.garnet.model.criteria.UserCredentialCriteria" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      此SQL语句为自动生成，请不要修改.
      DATE: 2018-04-12 18:06
    -->
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from GAR_USER_CREDENTIALS
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <insert id="insertBatchSelective" parameterType="java.util.List">
    <!--
      WARNING - @mbg.generated
      此SQL语句为自动生成，请不要修改.
      DATE: 2018-04-12 18:06
    -->
    insert into GAR_USER_CREDENTIALS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="list[0].id!=null">
        ID,
      </if>
      <if test="list[0].createdTime!=null">
        CREATED_TIME,
      </if>
      <if test="list[0].modifiedTime!=null">
        MODIFIED_TIME,
      </if>
      <if test="list[0].credential!=null">
        CREDENTIAL,
      </if>
      <if test="list[0].expiredDateTime!=null">
        EXPIRED_DATE_TIME,
      </if>
      <if test="list[0].userId!=null">
        USER_ID,
      </if>
    </trim>
     values 
    <foreach collection="list" index="index" item="item" separator=",">
      <trim prefix=" (" suffix=")" suffixOverrides=",">
        <if test="item.id!=null">
          #{item.id,jdbcType=DECIMAL},
        </if>
        <if test="item.createdTime!=null">
          #{item.createdTime,jdbcType=DECIMAL},
        </if>
        <if test="item.modifiedTime!=null">
          #{item.modifiedTime,jdbcType=DECIMAL},
        </if>
        <if test="item.credential!=null">
          #{item.credential,jdbcType=VARCHAR},
        </if>
        <if test="item.expiredDateTime!=null">
          #{item.expiredDateTime,jdbcType=DECIMAL},
        </if>
        <if test="item.userId!=null">
          #{item.userId,jdbcType=DECIMAL},
        </if>
      </trim>
    </foreach>
  </insert>
  <update id="updateBatchByPrimaryKeySelective" parameterType="java.util.List">
    <!--
      WARNING - @mbg.generated
      此SQL语句为自动生成，请不要修改.
      DATE: 2018-04-12 18:06
    -->
    <foreach collection="list" index="index" item="item" separator=";">
      update GAR_USER_CREDENTIALS
      <set>
        <if test="item.createdTime!=null">
          CREATED_TIME=#{item.createdTime,jdbcType=DECIMAL},
        </if>
        <if test="item.modifiedTime!=null">
          MODIFIED_TIME=#{item.modifiedTime,jdbcType=DECIMAL},
        </if>
        <if test="item.credential!=null">
          CREDENTIAL=#{item.credential,jdbcType=VARCHAR},
        </if>
        <if test="item.expiredDateTime!=null">
          EXPIRED_DATE_TIME=#{item.expiredDateTime,jdbcType=DECIMAL},
        </if>
        <if test="item.userId!=null">
          USER_ID=#{item.userId,jdbcType=DECIMAL},
        </if>
      </set>
      where 
      ID = #{item.id,jdbcType=DECIMAL}
    </foreach>
  </update>
</mapper>