<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ 广州丰石科技有限公司拥有本软件版权2017并保留所有权利。
  ~ Copyright 2017, Guangzhou Rich Stone Data Technologies Company Limited,
  ~ All rights reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.richstonedt.garnet.system.authority.dao.AuthorityDao">

    <select id="getDistinctUserId" resultType="java.lang.Integer">
        SELECT DISTINCT user_id FROM gar_authority ORDER BY user_id ASC ;
    </select>

    <select id="getAuthoritiesByUserId" parameterType="java.lang.Integer" resultType="com.richstonedt.garnet.system.authority.entity.Authority">
        SELECT * FROM gar_authority
        <where>
            user_id = #{userId};
        </where>
    </select>

    <select id="getAllUsers" resultType="com.richstonedt.garnet.modules.sys.entity.SysUserEntity">
        select * from gar_sys_user;
    </select>

    <insert id="saveAuthority">
        INSERT INTO gar_authority
        (user_id,role_id) VALUES (#{userId},#{roleId});
    </insert>

    <delete id="deleteAuthorityByUserId" parameterType="java.lang.Integer">
        DELETE FROM gar_authority
        <where>
            user_id = #{userId};
        </where>
    </delete>


 </mapper>