<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ 广州丰石科技有限公司拥有本软件版权2017并保留所有权利。
  ~ Copyright 2017, Guangzhou Rich Stone Data Technologies Company Limited,
  ~ All rights reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.richstonedt.garnet.system.department.dao.DepartmentDao">

    <select id="getDepartmentList" resultType="com.richstonedt.garnet.system.department.entity.Department">
        SELECT *
        FROM gar_departments
        <where>
            delete_flag = FALSE
            <if test="tenantId != null">
                AND tenant_id = #{tenantId}
                <if test="containThis == false">
                    AND parent_id != 0
                </if>
            </if>
            <if test="tenantId == null">
                <if test="containThis == false">
                    AND parent_id IS NOT NULL
                </if>
            </if>
        </where>
    </select>

    <select id="getDepartmentById" resultType="com.richstonedt.garnet.system.department.entity.Department">
        SELECT *
        FROM gar_departments
        WHERE id = #{id} AND delete_flag = FALSE
    </select>

    <update id="deleteDepartmentById">
        UPDATE gar_departments
        SET delete_flag = TRUE
        WHERE id = #{id}
    </update>

    <update id="updateDepartment" parameterType="com.richstonedt.garnet.system.department.entity.Department">
        UPDATE gar_departments
        SET
            name      = #{name},
            parent_id = #{parentId},
            tenant_id = #{tenantId},
            order_num = #{orderNum}
        WHERE id = #{id}
    </update>

    <insert id="addDepartment" parameterType="com.richstonedt.garnet.system.department.entity.Department"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO gar_departments
        (name, parent_id, tenant_id, order_num)
        VALUES (#{name}, #{parentId}, #{tenantId}, #{orderNum})
    </insert>

    <select id="getParentDept" resultType="com.richstonedt.garnet.system.department.entity.Department">
        select * from gar_departments
        <where>
            parent_id = 0;
        </where>
    </select>

</mapper>