<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ 广州丰石科技有限公司拥有本软件版权2017并保留所有权利。
  ~ Copyright 2017, Guangzhou Rich Stone Data Technologies Company Limited,
  ~ All rights reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.richstonedt.garnet.system.department.dao.DepartmentDao">

    <select id="getDepartmentList" resultType="com.richstonedt.garnet.system.department.entity.Department">
        SELECT *
        FROM gar_departments
        <where>
            delete_flag = FALSE
            <if test="departmentId != null">
                AND parent_id = #{departmentId}
            </if>
        </where>
    </select>

    <select id="getDepartmentById" resultType="com.richstonedt.garnet.system.department.entity.Department">
        SELECT *
        FROM gar_departments
        WHERE id = #{value} AND delete_flag = FALSE
    </select>

    <update id="delete">
        UPDATE gar_departments
        SET delete_flag = TRUE
        WHERE id = #{value}
    </update>

    <!--<select id="queryList" resultType="com.richstonedt.garnet.modules.sys.entity.SysDeptEntity">-->
    <!--select d.*,(select p.name from gar_sys_dept p where p.dept_id = d.parent_id) as parentName-->
    <!--from gar_sys_dept d where d.del_flag = 0-->
    <!--<if test="deptFilter != null">-->
    <!--and d.dept_id in (${deptFilter})-->
    <!--</if>-->
    <!--<choose>-->
    <!--<when test="sidx != null and sidx.trim() != ''">-->
    <!--order by d.${sidx} ${order}-->
    <!--</when>-->
    <!--<otherwise>-->
    <!--order by d.order_num asc-->
    <!--</otherwise>-->
    <!--</choose>-->
    <!--<if test="offset != null and limit != null">-->
    <!--limit #{limit} offset #{offset}-->
    <!--</if>-->
    <!--</select>-->

    <!--<insert id="save" parameterType="com.richstonedt.garnet.modules.sys.entity.SysDeptEntity" useGeneratedKeys="true"-->
    <!--keyProperty="deptId">-->
    <!--INSERT INTO gar_sys_dept-->
    <!--(-->
    <!--parent_id,-->
    <!--name,-->
    <!--order_num-->
    <!--)-->
    <!--VALUES-->
    <!--(-->
    <!--#{parentId},-->
    <!--#{name},-->
    <!--#{orderNum}-->
    <!--)-->
    <!--</insert>-->

    <!--<update id="update" parameterType="com.richstonedt.garnet.modules.sys.entity.SysDeptEntity">-->
    <!--update gar_sys_dept-->
    <!--<set>-->
    <!--<if test="parentId != null">-->
    <!--parent_id = #{parentId},-->
    <!--</if>-->
    <!--<if test="name != null and name != ''">-->
    <!--name = #{name},-->
    <!--</if>-->
    <!--<if test="orderNum != null">-->
    <!--order_num = #{orderNum}-->
    <!--</if>-->
    <!--</set>-->
    <!--where dept_id = #{deptId}-->
    <!--</update>-->


    <!--<select id="queryDetpIdList" resultType="long">-->
    <!--SELECT dept_id-->
    <!--FROM gar_sys_dept-->
    <!--WHERE parent_id = #{value}-->
    <!--</select>-->

</mapper>