<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ 广州丰石科技有限公司拥有本软件版权2017并保留所有权利。
  ~ Copyright 2017, Guangzhou Rich Stone Data Technologies Company Limited,
  ~ All rights reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.richstonedt.garnet.system.role.dao.RoleDao">

    <select id="getRoleLists" resultType="com.richstonedt.garnet.system.role.entity.Role">
        select * from gar_roles
        <where>
            <if test="tenantId != null">
                tenant_id = #{tenantId}
            </if>
            <if test="name != null and name != ''">
                and name LIKE CONCAT('%',#{name},'%')
            </if>
        </where>
        ORDER BY id asc
        <if test="offset != null and limit != null">
            limit #{limit} offset #{offset};
        </if>
    </select>

    <select id="getRoleById" resultType="com.richstonedt.garnet.system.role.entity.Role">
        select * from gar_roles
        <where>
            id = #{id};
        </where>
    </select>

    <insert id="insertRole" parameterType="com.richstonedt.garnet.system.role.entity.Role" useGeneratedKeys="true"
            keyProperty="id">
        insert into gar_roles
        (
        tenant_id,
        name,
        remark
        )
        values
        (
        #{tenantId},
        #{name},
        #{remark}
        );
    </insert>

    <update id="updateRole" parameterType="com.richstonedt.garnet.system.role.entity.Role" useGeneratedKeys="true"
            keyProperty="id">
        UPDATE gar_roles
        <set>
            <if test="tenantId != null">
                tenant_id = #{tenantId},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark},
            </if>
        </set>
        <where>
            id = #{id};
        </where>
    </update>

    <delete id="deleteRole" parameterType="java.util.List">
        delete from gar_roles WHERE id in 
        <foreach collection="idLists" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

</mapper>