<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ 广州丰石科技有限公司拥有本软件版权2017并保留所有权利。
  ~ Copyright 2017, Guangzhou Rich Stone Data Technologies Company Limited,
  ~ All rights reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.richstonedt.garnet.system.role.dao.RoleDao">

    <select id="getRoleLists" resultType="com.richstonedt.garnet.system.role.entity.SysRole">
        select * from gar_sys_role
        <where>
            <if test="param3 != null and param3 != 0">
                role_id = #{param3} or parent_role_id = #{param3}
            </if>
        </where>
        ORDER BY role_id asc
        <if test="param1 != null and param2 != null">
            limit #{param2} offset #{param1};
        </if>
    </select>

    <select id="searchRoles" resultType="com.richstonedt.garnet.system.role.entity.SysRole">
        SELECT * FROM gar_sys_role
        <where>
            <if test="param1 != 0 and param1 != null">
                (role_id = #{param1} or parent_role_id = #{param1}) and
            </if>
            role_name LIKE CONCAT('%',#{param2},'%')
        </where>
        ORDER BY role_id asc;
    </select>

    <select id="getRoleById" resultType="com.richstonedt.garnet.system.role.entity.SysRole">
        select * from gar_sys_role
        <where>
            role_id = #{param1};
        </where>
    </select>

    <insert id="insertRole" parameterType="com.richstonedt.garnet.system.role.entity.SysRole" useGeneratedKeys="true"
            keyProperty="roleId">
        insert into gar_sys_role
        (
        parent_role_id,
        role_name,
        remark,
        dept_id
        )
        values
        (
        #{parentRoleId},
        #{roleName},
        #{remark},
        #{deptId}
        );
    </insert>

</mapper>