<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ 广州丰石科技有限公司拥有本软件版权2017并保留所有权利。
  ~ Copyright 2017, Guangzhou Rich Stone Data Technologies Company Limited,
  ~ All rights reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.richstonedt.garnet.system.tenant.dao.TenantDao">

    <select id="getTenantList" resultType="com.richstonedt.garnet.system.tenant.entity.Tenant">
        SELECT * FROM gar_tenants
        <where>
            delete_flag = FALSE
        </where>
        ORDER BY id
    </select>

    <insert id="addTenant" parameterType="com.richstonedt.garnet.system.tenant.entity.Tenant" useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO gar_tenants (name) VALUES (#{name})
    </insert>

    <update id="updateTenant" parameterType="com.richstonedt.garnet.system.tenant.entity.Tenant">
        UPDATE gar_tenants
        SET name = #{name}
        WHERE id = #{id}
    </update>

    <update id="deleteById">
        UPDATE gar_tenants
        SET delete_flag = TRUE
        WHERE id = #{id}
    </update>

</mapper>