<!DOCTYPE html>
<!--
  ~ 广州丰石科技有限公司拥有本软件版权2017并保留所有权利。
  ~ Copyright 2017, Guangzhou Rich Stone Data Technologies Company Limited,
  ~ All rights reserved.
  -->

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">基本信息</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;项目简介</h3>
        <ul>
            <li>该模块为Gempile安全模块，负责实现Gempile的用户管理，权限管理等功能</li>
            <li>该模块只有管理员才能进入，普通用户点击跳转按钮只能修改密码，修改密码之后需重新登录</li>
            <li>该模块同一账号只能单一登录，例如A用户使用B账号登录该模块，如果C用户也使用B账号登录该系统，那么A用户 将被‘挤掉’，需重新登录系统</li>
            <li>该模块在半小时无任何操作后将自动清除登录信息，用户需重新登录方能继续使用系统</li>
            <li>用户列表只显示已被租户关联的用户</li>
            <li>Garnet超级管理员（即在创建用户时，是否属于Garnet的用户选择 Y )可看到所有信息，包括上述未被租户关联的用户</li>
            <li>租户已经关联的用户，可通过租户编辑-查看已关联用户，进行解绑</li>
        </ul>
        <h3>&nbsp;&nbsp;&nbsp;功能介绍</h3>
        <h4>&nbsp;&nbsp;&nbsp;&nbsp;基础功能</h4>
            <ul>
                <li>查询：支持通过名称进行模糊查询</li>
                <li>新增：标有 * 的为必填项；各类名称或账号不能重复；各项数值需合规范</li>
                <li>编辑：同上；各项数值需合规范</li>
                <li>删除：支持多选批量删除</li>
            </ul>
        <h4>&nbsp;&nbsp;&nbsp;&nbsp;特别功能</h4>
            <ul>
                <li>资源导入：资源管理中，支持通过使用Excel批量导入数据；用户需下载Excel模板，使用下载的Excel填写数据后，点击 导入Excel 按钮，选择填好数据的Excel</li>
                <li>资源查看：资源管理中，通过下拉框选择应用、类型后，点击 查看 按钮可以快速查看选择的应用及资源类型下的所有资源配置</li>
            </ul>
        <h4>&nbsp;&nbsp;&nbsp;&nbsp;注意事项</h4>
            <ul>
                <li>修改资源类型配置后，需重新编辑关联的资源，否则将可能出现不可预料的结果</li>
            </ul>
    </div>
</div>
</body>
</html>