<!DOCTYPE html>
<!--
  ~ 广州丰石科技有限公司拥有本软件版权2017并保留所有权利。
  ~ Copyright 2017, Guangzhou Rich Stone Data Technologies Company Limited,
  ~ All rights reserved.
  -->

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>欢迎页</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<div class="panel panel-default">
    <div class="panel-heading">基本信息</div>
    <div style="padding: 10px 0 20px 10px;">
        <h3>&nbsp;&nbsp;&nbsp;项目简介</h3>
        <ul>
            <li>该模块为Gempile安全模块，负责实现Gempile的用户管理，权限管理等功能</li>
            <li>该模块只有管理员才能进入，普通用户点击跳转按钮只能修改密码</li>
            <li>该模块同一账号只能单一登录，例如A用户使用B账号登录该模块，如果C用户也使用B账号登录该系统，那么A用户 将被‘挤掉’，需重新登录该系统，但仍然可以继续使用Gempile项目</li>
            <li>登录成功之后，3小时内可免密登录Gempile和该模块（不被‘挤掉’的情况下）</li>
        </ul>
        <h3>&nbsp;&nbsp;&nbsp;功能介绍</h3>
        <h4>&nbsp;&nbsp;&nbsp;&nbsp;用户管理</h4>
        <ul>
            <li>查询：支持通过用户名模糊查询用户信息</li>
            <li>新增：新增一个用户，用户名不能重复；是否管理员：是，才能登录该系统；状态：禁用将不能登录该系统，反之亦然；各项数值需合规范</li>
            <li>编辑：修改用户信息，密码为空，将默认不修改原密码；各项数值需合规范</li>
            <li>删除：支持多选批量删除，删除用户，那么该用户的相应权限也被删除</li>
        </ul>
        <h4>&nbsp;&nbsp;&nbsp;&nbsp;权限管理</h4>
        <ul>
            <li>查询：支持通过用户名称模糊查询用户权限</li>
            <li>新增：从已有用户列表中选择一个用户，添加每个模块的权限信息</li>
            <li>编辑：只能修改该用户的权限信息，而不能更改用户；修改用户权限后，需重新登录Gempile才可生效</li>
            <li>删除：支持多选批量删除用户权限</li>
        </ul>
        <h4>&nbsp;&nbsp;&nbsp;&nbsp;系统日志</h4>
        <ul>
            <li>暂未开发</li>
        </ul>
    </div>
</div>
</body>
</html>