<!DOCTYPE html>
<!--
  ~ 广州丰石科技有限公司拥有本软件版权2017并保留所有权利。
  ~ Copyright 2017, Guangzhou Rich Stone Data Technologies Company Limited,
  ~ All rights reserved.
  -->

<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title>应用管理</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../plugins/jqgrid/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="../plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../libs/sweetalert/sweetalert.css">
    <script src="../libs/jquery.min.js"></script>
    <script src="../plugins/layer/layer.js"></script>
    <script src="../libs/bootstrap.min.js"></script>
    <script src="../libs/vue.min.js"></script>
    <script src="../plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="../plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="../plugins/ztree/jquery.ztree.all.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../libs/sweetalert/sweetalert.min.js"></script>
</head>

<body>
<div id="garnetApp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-2">
                <input class="form-control" v-model="searchName" @keyup.enter="query" placeholder="应用名">
            </div>
            <a class="btn btn-default" @click="query">查询</a>

            <div class="form-group col-sm-2">
                <select class="form-control" v-model="modeList.selectedMode" @change="selectMode" id="selectModeId">
                    <!--<option disabled value="">-&#45;&#45;&#45;&#45;请选择模式-&#45;&#45;&#45;&#45;</option>-->
                    <option v-for="option in modeList.options" v-bind:value="option.id">
                        {{ option.name }}
                    </option>
                </select>
            </div>

            <a class="btn btn-primary" @click="add" v-if="resources.garnetSysManagementApplicationAdd">
                <i class="fa fa-plus"></i>&nbsp;新增</a>
            <a class="btn btn-primary" @click="update" v-if="resources.garnetSysManagementApplicationUpdate">
                <i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            <a class="btn btn-primary" @click="del" v-if="resources.garnetSysManagementApplicationDelete">
                <i class="fa fa-trash-o"></i>&nbsp;删除</a>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group" style="display: none">
                <div class="col-sm-2 control-label">id</div>
                <div class="col-sm-10">
                    <input class="form-control" v-model="application.id" placeholder="id"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">应用名称</div>
                <div class="col-sm-10">
                    <input class="form-control" v-model="application.name" placeholder="应用名称"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">应用标识</div>
                <div class="col-sm-10">
                    <input class="form-control" v-model="application.appCode" placeholder="应用名称"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">选择租户</div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" style="cursor:pointer;" v-model="application.tenantNames"
                           @click="tenantTree" readonly="readonly" v-bind:placeholder="tips"></input>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">所属公司</div>
                <div class="col-sm-10">
                    <input class="form-control" v-model="application.company" placeholder="所属公司"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">refreshResourcesApi</div>
                <div class="col-sm-10">
                    <input class="form-control" v-model="application.refreshResourcesApi" placeholder="refreshResourcesApi"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">主机</div>
                <div class="col-sm-10">
                    <input class="form-control" v-model="application.hosts" placeholder="主机"/>
                </div>
            </div>
            <div class="form-group" style="display: none;">
                <div class="col-sm-2 control-label">创建时间</div>
                <div class="col-sm-10">
                    <input class="form-control" v-model="application.createdTime" placeholder="创建时间"/>
                </div>
            </div>
            <div class="form-group" style="display: none;">
                <div class="col-sm-2 control-label">更新时间</div>
                <div class="col-sm-10">
                    <input class="form-control" v-model="application.modifiedTime" placeholder="更新时间"/>
                </div>
            </div>

            <div class="form-group" v-show="!hidden">
                <div class="col-sm-2 control-label">选择模式</div>
                <div class="col-sm-10">
                    <select class="form-control" v-model="modeList2.selectedMode" @change="selectMode2">
                        <option v-for="option in modeList2.options" v-bind:value="option.id" >
                            {{ option.name }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload(false)" value="返回"/>
            </div>
        </form>
    </div>
</div>

<!-- 选择租户 -->
<div id="tenantLayer" style="display: none;padding:10px;">
    <ul id="tenantTree" class="ztree"></ul>
</div>


<script src="../libs/router.js"></script>
<script src="../js/index.js"></script>
<script src="../js/modules/application.js"></script>
</body>
</html>