<!DOCTYPE html>
<!--
  ~ 广州丰石科技有限公司拥有本软件版权2017并保留所有权利。
  ~ Copyright 2017, Guangzhou Rich Stone Data Technologies Company Limited,
  ~ All rights reserved.
  -->

<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title>资源管理</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, menu-scalable=no" name="viewport">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../plugins/jqgrid/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="../plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../libs/sweetalert/sweetalert.css">
    <script src="../libs/jquery.min.js"></script>
    <script src="../plugins/layer/layer.js"></script>
    <script src="../libs/bootstrap.min.js"></script>
    <script src="../libs/vue.min.js"></script>
    <script src="../plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="../plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="../plugins/ztree/jquery.ztree.all.min.js"></script>
    <script src="../libs/sweetalert/sweetalert.min.js"></script>
    <script src="../js/common.js"></script>
</head>

<body>
<div id="garnetApp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-2">
                <input class="form-control" v-model="searchName" @keyup.enter="query" placeholder="资源名称">
            </div>
            <a class="btn btn-default" @click="query">查询</a>
            <a class="btn btn-default" @click="view">查看</a>
            <div class="form-group col-sm-1"  style="width: 200px">
                <select class="form-control" v-model="option.appSearchId" @change="getResourceByTypeAndApp">
                    <option disabled value=""> 应用查询 </option>
                    <option v-for="option in applicationList.appSearchList.options" v-bind:value="option.id">
                        {{ option.name }}
                    </option>
                </select>
            </div>
            <div class="form-group col-sm-1" style="width: 200px">
                <select class="form-control" v-model="searchTypeOption.searchType" @change="getResourceByTypeAndApp">
                    <option disabled value=""> 类型查询 </option>
                    <option v-for="option in applicationList.typeSearchList.options" v-bind:value="option.type">
                        {{ option.type }}
                    </option>
                </select>
            </div>
            <div style="margin: 15px; display: block">
                <a class="btn btn-primary" @click="add" v-if="resources.garnetDevelopmentResourceAdd">
                    <i class="fa fa-plus"></i>&nbsp;新增</a>
                <a class="btn btn-primary" @click="update" v-if="resources.garnetDevelopmentResourceUpdate">
                    <i class="fa fa-pencil-square-o"></i>&nbsp;配置</a>
                <a class="btn btn-primary" @click="del" v-if="resources.garnetDevelopmentResourceDelete">
                    <i class="fa fa-trash-o"></i>&nbsp;删除</a>
                <a class="btn btn-primary" @click="inputExcel">导入Excel</a>
                    <input type="file" id="file" v-show="false"  @change="importFile(this)"  accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
                <a id="" class="btn btn-primary" href="http://192.168.111.100:12306/garnet/api/v1.0/download/resourceexcel">下载Excel模板</a>
            </div>
            <!--<a class="btn btn-primary" @click="update" v-if="resources.garnetDevelopmentResourceUpdate">-->
                <!--<i class="fa fa-pencil-square-o"></i>&nbsp;查看</a>-->
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList1" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal div-left">
            <div class="form-group">
                <div class="col-sm-2 control-label">资源名称<span style="color: #d7220a">*</span></div>
                <div class="col-sm-10">
                    <input class="form-control" v-model="resource.name" placeholder="资源名称" maxlength="30"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">所属应用<span style="color: #d7220a">*</span></div>
                <div class="col-sm-10">
                    <select class="form-control" v-model="applicationList.appList.selectedApp">
                        <option disabled value="">--请选择--</option>
                        <option v-for="option in applicationList.appList.options" v-bind:value="option.id">
                        {{ option.name }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">所属租户<span style="color: #d7220a">*</span></div>
                <div class="col-sm-10">
                    <select class="form-control" v-model="tenantList.selectedTenant" @change="selectTenant">
                        <option disabled value="">--请选择--</option>
                        <option v-for="option in tenantList.options" v-bind:value="option.id">
                            {{ option.name }}
                        </option>
                    </select>
                </div>
            </div>
            <!--<div class="form-group">-->
                <!--<div class="col-sm-2 control-label">所属租户</div>-->
                <!--<div class="col-sm-10">-->
                    <!--&lt;!&ndash;@change="selectTenant"&ndash;&gt;-->
                    <!--<select class="form-control" v-model="tenantList.selectedTenant">-->
                        <!--<option v-for="option in tenantList.options" v-bind:value="option.id">-->
                            <!--{{ option.name }}-->
                        <!--</option>-->
                    <!--</select>-->
                <!--</div>-->
            <!--</div>-->
            <div class="form-group">
                <div class="col-sm-2 control-label">路径标识<span style="color: #d7220a">*</span></div>
                <div class="col-sm-10">
                    <input class="form-control" v-model="resource.path" placeholder="可填如/garnet.html"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">类型<span style="color: #d7220a">*</span></div>
                <div class="col-sm-10">
                    <!--@change="selectType"-->
                    <select class="form-control" v-model="typeList.selectedType" @change="selectType">
                        <option disabled value="">--请选择--</option>
                        <option v-for="option in typeList.options" v-bind:value="option.type">
                            {{ option.type }}
                        </option>
                    </select>
                </div>
            </div>

            <!--<div class="form-group">-->
                <!--<div class="col-sm-2 control-label">action</div>-->
                <!--<div class="col-sm-10">-->
                    <!--<input class="form-control" v-model="resource.actions" placeholder="action"/>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-group">-->
                <!--<div class="col-sm-2 control-label">行为组<span style="color: #d7220a">*</span></div>-->
                <!--<label>-->
                    <!--<input type="checkbox" v-model="actionsEdit" value="edit"/> edit-->
                <!--</label>-->
                <!--<label>-->
                    <!--<input type="checkbox" v-model="actionsReadonly" value="readonly"/> readonly-->
                <!--</label>-->
            <!--</div>-->

            <div class="form-group">
                <div class="col-sm-2 control-label">varchar00</div>
                <div class="col-sm-10 form-inline">
                    <input class="form-control" v-model="resource.varchar00" placeholder="varchar00"/><input  v-model="resource.varchar00description" readonly="readonly" style="color: #d73925;border:none; margin-left: 10px; width: 160px;"/>
                    <!--<input class="form-control" readonly="readonly" v-model="resourceDynamicPropertyList[00].description" placeholder="boolean04"/>-->
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">varchar01</div>
                <div class="col-sm-10 form-inline">
                    <input class="form-control" v-model="resource.varchar01" placeholder="varchar01"/><input  v-model="resource.varchar01description" readonly="readonly" style="color: #d73925;border:none; margin-left: 10px; width: 160px;"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">varchar02</div>
                <div class="col-sm-10 form-inline">
                    <input class="form-control" v-model="resource.varchar02" placeholder="varchar02"/><input  v-model="resource.varchar02description" readonly="readonly" style="color: #d73925;border:none; margin-left: 10px; width: 160px;"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">varchar03</div>
                <div class="col-sm-10 form-inline">
                    <input class="form-control" v-model="resource.varchar03" placeholder="varchar03"/><input  v-model="resource.varchar03description" readonly="readonly" style="color: #d73925;border:none; margin-left: 10px; width: 160px;"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">varchar04</div>
                <div class="col-sm-10 form-inline">
                    <input class="form-control" v-model="resource.varchar04" placeholder="varchar04"/><input  v-model="resource.varchar04description" readonly="readonly" style="color: #d73925;border:none; margin-left: 10px; width: 160px;"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">varchar05</div>
                <div class="col-sm-10 form-inline">
                    <input class="form-control" v-model="resource.varchar05" placeholder="varchar05"/><input  v-model="resource.varchar05description" readonly="readonly" style="color: #d73925;border:none; margin-left: 10px; width: 160px;"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">varchar06</div>
                <div class="col-sm-10 form-inline">
                    <input class="form-control" v-model="resource.varchar06" placeholder="varchar06"/><input  v-model="resource.varchar06description" readonly="readonly" style="color: #d73925;border:none; margin-left: 10px; width: 160px;"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">varchar07</div>
                <div class="col-sm-10 form-inline">
                    <input class="form-control" v-model="resource.varchar07" placeholder="varchar07"/><input  v-model="resource.varchar07description" readonly="readonly" style="color: #d73925;border:none; margin-left: 10px; width: 160px;"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">varchar08</div>
                <div class="col-sm-10 form-inline">
                    <input class="form-control" v-model="resource.varchar08" placeholder="varchar08"/><input  v-model="resource.varchar08description" readonly="readonly" style="color: #d73925;border:none; margin-left: 10px; width: 160px;"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">varchar09</div>
                <div class="col-sm-10 form-inline">
                    <input class="form-control" v-model="resource.varchar09" placeholder="varchar09"/><input  v-model="resource.varchar09description" readonly="readonly" style="color: #d73925;border:none; margin-left: 10px; width: 160px;"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">varchar10</div>
                <div class="col-sm-10 form-inline">
                    <input class="form-control" v-model="resource.varchar10" placeholder="varchar10"/><input  v-model="resource.varchar10description" readonly="readonly" style="color: #d73925;border:none; margin-left: 10px; width: 160px;"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">varchar11</div>
                <div class="col-sm-10 form-inline">
                    <input class="form-control" v-model="resource.varchar11" placeholder="varchar11"/><input  v-model="resource.varchar11description" readonly="readonly" style="color: #d73925;border:none; margin-left: 10px; width: 160px;"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">varchar12</div>
                <div class="col-sm-10 form-inline">
                    <input class="form-control" v-model="resource.varchar12" placeholder="varchar12"/><input  v-model="resource.varchar12description" readonly="readonly" style="color: #d73925;border:none; margin-left: 10px; width: 160px;"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">varchar13</div>
                <div class="col-sm-10 form-inline">
                    <input class="form-control" v-model="resource.varchar13" placeholder="varchar13"/><input  v-model="resource.varchar13description" readonly="readonly" style="color: #d73925;border:none; margin-left: 10px; width: 160px;"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">varchar14</div>
                <div class="col-sm-10 form-inline">
                    <input class="form-control" v-model="resource.varchar14" placeholder="varchar14"/><input  v-model="resource.varchar14description" readonly="readonly" style="color: #d73925;border:none; margin-left: 10px; width: 160px;"/>
                </div>
            </div>
            <div class="form-group form-inline">
                <div class="col-sm-2 control-label">varchar15</div>
                <div class="col-sm-10 form-inline">
                    <input class="form-control" v-model="resource.varchar15" placeholder="varchar15"/><input  v-model="resource.varchar15description" readonly="readonly" style="color: #d73925;border:none; margin-left: 10px; width: 160px;"/>
                </div>
            </div>
            <div class="form-group form-inline">
                <div class="col-sm-2 control-label">varchar16</div>
                <div class="col-sm-10 form-inline">
                    <input class="form-control" v-model="resource.varchar16" placeholder="varchar16"/><input  v-model="resource.varchar16description" readonly="readonly" style="color: #d73925;border:none; margin-left: 10px; width: 160px;"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">varchar17</div>
                <div class="col-sm-10 form-inline">
                    <input class="form-control" v-model="resource.varchar17" placeholder="varchar17"/><input  v-model="resource.varchar17description" readonly="readonly" style="color: #d73925;border:none; margin-left: 10px; width: 160px;"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">varchar18</div>
                <div class="col-sm-10 form-inline">
                    <input class="form-control" v-model="resource.varchar18" placeholder="varchar18"/><input  v-model="resource.varchar18description" readonly="readonly" style="color: #d73925;border:none; margin-left: 10px; width: 160px;"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">varchar19</div>
                <div class="col-sm-10 form-inline">
                    <input class="form-control" v-model="resource.varchar19" placeholder="varchar19"/><input  v-model="resource.varchar19description" readonly="readonly" style="color: #d73925;border:none; margin-left: 10px; width: 160px;"/>
                </div>
            </div>
        </form>
        <form class="form-horizontal div-right">
            <div class="form-group">
                <div class="col-sm-2 control-label">int01</div>
                <div class="col-sm-10 form-inline">
                    <input class="form-control" v-model="resource.int01" placeholder="int01"/><input  v-model="resource.int01description" readonly="readonly" style="color: #d73925;border:none; margin-left: 10px; width: 160px;"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">int02</div>
                <div class="col-sm-10 form-inline">
                    <input class="form-control" v-model="resource.int02" placeholder="int02"/><input  v-model="resource.int02description" readonly="readonly" style="color: #d73925;border:none; margin-left: 10px; width: 160px;"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">int03</div>
                <div class="col-sm-10 form-inline">
                    <input class="form-control" v-model="resource.int03" placeholder="int03"/><input  v-model="resource.int03description" readonly="readonly" style="color: #d73925;border:none; margin-left: 10px; width: 160px;"/>

                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">int04</div>
                <div class="col-sm-10 form-inline">
                    <input class="form-control" v-model="resource.int04" placeholder="int04"/><input  v-model="resource.int04description" readonly="readonly" style="color: #d73925;border:none; margin-left: 10px; width: 160px;"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">int05</div>
                <div class="col-sm-10 form-inline">
                   <input class="form-control" v-model="resource.int05" placeholder="int05" /><input  v-model="resource.int05description" readonly="readonly" style="color: #d73925;border:none; margin-left: 10px; width: 160px;"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">boolean01</div>
                <label class="radio-inline">
                    <input type="radio" name="boolean01" value="false" v-model="resource.boolean01"/> false
                </label>
                <label class="radio-inline">
                    <input type="radio" name="boolean01" value="true" v-model="resource.boolean01"/> true
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input  v-model="resource.boolean01description" readonly="readonly" style="color: #d73925;border:none; margin-left: 10px; width: 160px;"/>
                </label>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">boolean02</div>
                <label class="radio-inline">
                    <input type="radio" name="boolean02" value="false" v-model="resource.boolean02"/> false
                </label>
                <label class="radio-inline">
                    <input type="radio" name="boolean02" value="true" v-model="resource.boolean02"/> true
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input  v-model="resource.boolean02description" readonly="readonly" style="color: #d73925;border:none; margin-left: 10px; width: 160px;"/>
                </label>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">boolean03</div>
                <label class="radio-inline">
                    <input type="radio" name="boolean03" value="false" v-model="resource.boolean03"/> false
                </label>
                <label class="radio-inline">
                    <input type="radio" name="boolean03" value="true" v-model="resource.boolean03"/> true
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input  v-model="resource.boolean03description" readonly="readonly" style="color: #d73925;border:none; margin-left: 10px; width: 160px;"/>
                </label>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">boolean04</div>
                <label class="radio-inline">
                    <input type="radio" name="boolean04" value="false" v-model="resource.boolean04"/> false
                </label>
                <label class="radio-inline">
                    <input type="radio" name="boolean04" value="true" v-model="resource.boolean04"/> true
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input  v-model="resource.boolean04description" readonly="readonly" style="color: #d73925;border:none; margin-left: 10px; width: 160px;"/>
                </label>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload(false)" value="返回"/>
            </div>
        </form>
    </div>


    <div v-show="showResourceDetail">
        <textarea v-model="resourceDetail" readonly="readonly" style="width: 100%; height: 720px"></textarea>
    </div>
</div>

<style>
    .div-left{float: left; width: 49%}
    .div-right{float: right; width: 49%}
</style>

<script type="text/javascript">
    $(function(){
        $('input:radio').click(function(){

            var domName = $(this).attr('name');
            var $radio = $(this);
            // if this was previously checked
            if ($radio.data('waschecked') == true){
                $radio.prop('checked', false);
                $("input:radio[name='" + domName + "']").data('waschecked',false);

                if ("boolean01" == domName) {
                    vm.resource.boolean01 = null;
                } else if ("boolean02" == domName) {
                    vm.resource.boolean02 = null;
                } else if ("boolean03" == domName) {
                    vm.resource.boolean03 = null;
                } else if ("boolean04" == domName) {
                    vm.resource.boolean04 = null;
                }
            } else {
                $radio.prop('checked', true);
                $("input:radio[name='" + domName + "']").data('waschecked',false);
                $radio.data('waschecked', true);
            }
        });
    });
</script>

<!-- 选择资源 -->
<div id="resourceLayer" style="display: none;padding:10px;">
    <ul id="resourceTree" class="ztree"></ul>
</div>

<script src="../libs/router.js"></script>
<script src="../js/index.js"></script>
<script src="../js/actiontimer.js"></script>
<script src="../js/modules/resource.js"></script>
</body>
</html>