<!DOCTYPE html>
<!--
  ~ 广州丰石科技有限公司拥有本软件版权2017并保留所有权利。
  ~ Copyright 2017, Guangzhou Rich Stone Data Technologies Company Limited,
  ~ All rights reserved.
  -->

<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title>动态资源配置管理</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, menu-scalable=no" name="viewport">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../plugins/jqgrid/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="../plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../libs/sweetalert/sweetalert.css">
    <script src="../libs/jquery.min.js"></script>
    <script src="../plugins/layer/layer.js"></script>
    <script src="../libs/bootstrap.min.js"></script>
    <script src="../libs/vue.min.js"></script>
    <script src="../plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="../plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="../plugins/ztree/jquery.ztree.all.min.js"></script>
    <script src="../libs/sweetalert/sweetalert.min.js"></script>
    <script src="../js/common.js"></script>
</head>

<body>
<div id="garnetApp" v-cloak style="margin: 15px;">
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-2">
                <input class="form-control" v-model="searchName" @keyup.enter="query" placeholder="资源类型名称">
            </div>
            <a class="btn btn-default" @click="query">查询</a>
            <!--<div class="form-group col-sm-2">-->
                <!--<select class="form-control" v-model="option.appSearchId" @change="reload(true)">-->
                    <!--<option disabled value=""> 根据应用查询 </option>-->
                    <!--<option v-for="option in applicationList.appSearchList.options" v-bind:value="option.id">-->
                        <!--{{ option.name }}-->
                    <!--</option>-->
                <!--</select>-->
            <!--</div>-->
            <a class="btn btn-primary" @click="add" v-if="resources.garnetDevelopmentresourceDynamicPropertyAdd">
                <i class="fa fa-plus"></i>&nbsp;新增</a>
            <a class="btn btn-primary" @click="update" v-if="resources.garnetDevelopmentresourceDynamicPropertyUpdate">
                <i class="fa fa-pencil-square-o"></i>&nbsp;配置</a>
            <a class="btn btn-primary" @click="del" v-if="resources.garnetDevelopmentresourceDynamicPropertyDelete">
                <i class="fa fa-trash-o"></i>&nbsp;删除</a>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <!--<form class="form-horizontal div-left">-->
        <form class="form-horizontal" id="resourceDynamicPropForm">
            <div class="form-group">
                <div id="tips">
                    <span style="color: #d73925;padding-left: 50px;font-size: 18px">请谨慎使用编辑功能，随意编辑可能会造成不可预料的结果</span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">名称<span style="color: #d7220a">*</span></div>
                <div class="col-sm-10">
                    <input class="form-control" v-model="resourceDynamicProperty.remark" placeholder="长度不大于30" maxlength="30" v-on:blur="checkResourceDyPropRemark()" id="resourceDyPropRemark"/>
                    <div id="checkResourceDyPropRemark">
                        <span style="color: #d73925">此资源配置类型名称已被使用</span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">代号<span style="color: #d7220a">*</span></div>
                <div class="col-sm-10">
                    <input class="form-control" v-model="resourceDynamicProperty.type" placeholder="长度不大于30" maxlength="30" v-on:blur="checkResourceDyPropType()" id="resourceDyPropType"/>
                    <div id="checkResourceDyPropType">
                        <span style="color: #d73925">此资源配置类型代号已被使用</span>
                    </div>
                </div>
            </div>

            <div class="form-group" v-show="showType">
                <div class="col-sm-2 control-label">类型<span style="color: #d7220a">*</span></div>
                <div class="col-sm-10">
                    <select class="form-control" v-model="typeList.selectedType" @change="selectType">
                        <option disabled value="">--请选择--</option>
                        <option v-for="option in typeList.options" v-bind:value="option.id">
                            {{ option.name }}
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group" v-bind:hidden="!showTenant">
                <div class="col-sm-2 control-label">选择租户<span style="color: #d7220a">*</span></div>
                <div class="col-sm-10">
                    <select class="form-control" v-model="tenantList.selectedTenant" @change="selectTenant">
                        <option disabled value="">--请选择--</option>
                        <option v-for="option in tenantList.options" v-bind:value="option.id">
                            {{ option.name }}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group" v-bind:hidden="!showApplication">
                <div class="col-sm-2 control-label">选择应用<span style="color: #d7220a">*</span></div>
                <div class="col-sm-10">
                    <select class="form-control" id="applicaitonIdSelected" v-model="applicationList.appList.selectedApp" @change="selectApp">
                        <option disabled value="">--请选择--</option>
                        <option v-for="option in applicationList.appList.options" v-bind:value="option.id">
                            {{ option.name }}
                        </option>
                    </select>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label">行为组<span style="color: #d7220a">*</span></div>
                <div class="col-sm-10">
                    <input class="form-control" id="actions" v-model="resourceDynamicProperty.actions" placeholder="可填如edit、read或edit,read" maxlength="60"/>
                    <div id="result"></div>

                </div>
            </div>

            <!--<div class="form-group">-->
                <!--<div class="col-sm-2 control-label">描述</div>-->
                <!--<div class="col-sm-10">-->
                    <!--<input class="form-control" v-model="resourceDynamicPropertyList[0].description" placeholder="描述"/>-->
                <!--</div>-->
            <!--</div>-->

        </form>
        <form class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="radio" name="type" size="20" value="1" checked>字符类
                &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="type" size="20" value="2">整型
                &nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="type" size="20" value="3">布尔型
                &nbsp;&nbsp;&nbsp;&nbsp;<input type="button" class="btn btn-default" @click="addRow" value="添加行"/>
            </div>

            <div class="form-group">
                <div class="col-sm-2 control-label"></div>

                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload(false)" value="返回"/>
            </div>
        </form>
    </div>
</div>

<!-- 选择资源 -->
<div id="resourceLayer" style="display: none;padding:10px;">
    <ul id="resourceTree" class="ztree"></ul>
</div>

<script language="JavaScript">
    $(function(){
        $('#actions').bind('input propertychange', function() {
            var pattern = /^[a-zA-Z\,]{1,60}$/;
            var value = $(this).val();
            if (!pattern.exec(value)) {
                var html = "<span style='color: red'>只能输入英文和英文逗号</span>";
            } else {
                var html = "";
            }
            $('#result').html(
                html
            );
        });
    });
</script>

<script src="../libs/router.js"></script>
<script src="../js/index.js"></script>
<script src="../js/modules/resourceDynamicProperty.js"></script>
<script src="../js/actiontimer.js"></script>
</body>
</html>