<!DOCTYPE html>
<!--
  ~ 广州丰石科技有限公司拥有本软件版权2017并保留所有权利。
  ~ Copyright 2017, Guangzhou Rich Stone Data Technologies Company Limited,
  ~ All rights reserved.
  -->

<html>
<head>
    <title>RouterGroup管理</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../plugins/jqgrid/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="../plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../libs/sweetalert/sweetalert.css">
    <script src="../libs/jquery.min.js"></script>
    <script src="../plugins/layer/layer.js"></script>
    <script src="../libs/bootstrap.min.js"></script>
    <script src="../libs/vue.min.js"></script>
    <script src="../plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="../plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="../plugins/ztree/jquery.ztree.all.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../libs/sweetalert/sweetalert.min.js"></script>
</head>

<body>
<div id="garnetApp" v-cloak style="margin: 15px;">
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-2">
                <input class="form-control" v-model="searchName" @keyup.enter="query" placeholder="应用名">
            </div>
            <a class="btn btn-default" @click="query">查询</a>
            <a class="btn btn-primary" @click="add" v-if="resources.garnetDevelopmentRouterGroupAdd">
                <i class="fa fa-plus"></i>&nbsp;新增</a>
            <a class="btn btn-primary" @click="update" v-if="resources.garnetDevelopmentRouterGroupUpdate">
                <i class="fa fa-pencil-square-o"></i>&nbsp;配置</a>
            <a class="btn btn-primary" @click="del" v-if="resources.garnetDevelopmentRouterGroupDelete">
                <i class="fa fa-trash-o"></i>&nbsp;删除</a>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group" style="display: none">
                <div class="col-sm-2 control-label">id</div>
                <div class="col-sm-10">
                    <input class="form-control" v-model="routerGroup.id" placeholder="id"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">名称<span style="color: #d7220a">*</span></div>
                <div class="col-sm-10">
                    <input class="form-control" v-model="routerGroup.groupName" placeholder="长度不大于30" maxlength="30" v-on:blur="checkRouterName()" id="groupName"/>
                    <div id="checkRouterName"><span style="color: #d73925">此应用组名已被使用</span></div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">备注<span style="color: #d7220a">*</span></div>
                <div class="col-sm-10">
                    <input class="form-control" v-model="routerGroup.remark" placeholder="备注"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">选择应用<span style="color: #d7220a">*</span></div>
                <div class="col-sm-10">
                    <input type="text" class="form-control" style="cursor:pointer;" v-model="applicationNames"
                           @click="applicationTree(routerGroup)" readonly="readonly" placeholder="可选多个应用"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload(false)" value="返回"/>
            </div>
        </form>
    </div>
</div>

<!-- 选择租户 -->
<div id="applicationLayer" style="display: none;padding:10px;">
    <!--<form class="form-horizontal" style="width: 280px;">-->
        <div class="form-group">
            <div class="col-sm-10">
                <input class="form-control" placeholder="应用名" id="laySearchName" autocomplete="off">
            </div>
            <div class="col-sm-2">
                <input type="button" class="btn btn-default"  id="laySearch" value="search"/>
            </div>
        </div>
        <div class="form-group" style="padding-top: 20px;">
            <ul id="applicationTree" class="ztree"></ul>
        </div>
    <!--</form>-->
</div>


<script src="https://unpkg.com/ajax-hook/dist/ajaxhook.min.js"></script>
<!--<link rel="stylesheet" href="../plugins/ajaxhook/ajaxhook.min.js">-->
<script src="../libs/router.js"></script>
<script src="../js/index.js"></script>
<script src="../js/modules/routerGroup.js"></script>
<!--<script src="../js/actiontimer.js"></script>-->
</body>
</html>