<!DOCTYPE html>
<!--
  ~ 广州丰石科技有限公司拥有本软件版权2017并保留所有权利。
  ~ Copyright 2017, Guangzhou Rich Stone Data Technologies Company Limited,
  ~ All rights reserved.
  -->

<html xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <title>用户管理</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/font-awesome.min.css">
    <link rel="stylesheet" href="../plugins/jqgrid/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="../plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../libs/sweetalert/sweetalert.css">
    <script src="../libs/jquery.min.js"></script>
    <script src="../plugins/layer/layer.js"></script>
    <script src="../libs/bootstrap.min.js"></script>
    <script src="../libs/vue.min.js"></script>
    <script src="../plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="../plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="../plugins/ztree/jquery.ztree.all.min.js"></script>
    <script src="../js/common.js"></script>
    <script src="../libs/sweetalert/sweetalert.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../plugins/component/select-vue-component.css">
    <script src="../plugins/component/select-vue-component.js"></script>
</head>

<body>
<div id="garnetApp" v-cloak>
    <div v-show="showList">
        <div class="grid-btn">
            <div class="form-group col-sm-2">
                <input class="form-control" v-model="searchName" @keyup.enter="query" placeholder="用户账号">
            </div>
            <a class="btn btn-default" @click="query">查询</a>
            <a class="btn btn-primary" @click="add" v-if="resources.garnetSysManagementUsernAdd">
                <i class="fa fa-plus"></i>&nbsp;新增</a>
            <a class="btn btn-primary" @click="update" v-if="resources.garnetSysManagementUserUpdate">
                <i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
            <a class="btn btn-primary" @click="del" v-if="resources.garnetSysManagementUserDelete">
                <i class="fa fa-trash-o"></i>&nbsp;删除</a>
        </div>
        <table id="jqGrid"></table>
        <div id="jqGridPager"></div>
    </div>

    <div v-show="!showList" class="panel panel-default">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal">
            <div class="form-group" style="display: none;">
                <div class="col-sm-2 control-label">id</div>
                <div class="col-sm-10">
                    <input class="form-control" v-model="user.id" placeholder="id" value="0"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">账号<span style="color: #d7220a">*</span></div>
                <div class="col-sm-10">
                    <input class="form-control" v-bind:readonly="readusername" v-model="user.userName" placeholder="登录账号"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">密码<span style="color: #d7220a">*</span></div>
                <div class="col-sm-10">
                    <input type="password" class="form-control" v-model="user.password" placeholder="密码"/>
                </div>
            </div>

            <div class="form-group" v-show="belongToGarnet">
                <div class="col-sm-2 control-label"></div>
                <div class="col-sm-10">
                    <label>是否属于Garnet的用户</label>
                    <select v-model="user.belongToGarnet">
                        <!--<option disabled value="">请选择</option>-->
                        <option>Y</option>
                        <option selected="selected">N</option>
                    </select>

                </div>
            </div>

            <!--<div class="form-group">-->
                <!--<div class="col-sm-2 control-label">所属租户</div>-->
                <!--<div class="col-sm-10">-->
                    <!--<multiple-select v-bind:optionsdata="multiple.originOptionsTenant" v-bind:selecteddata="multiple.selectedListTenant" v-on:selected="multipleCallback"></multiple-select>-->
                <!--</div>-->
            <!--</div>-->


            <!--<div class="form-group">-->
                <!--<div class="col-sm-2 control-label">所属应用</div>-->
                <!--<div class="col-sm-10">-->
                    <!--<select class="form-control" v-model_bk="appList.selectedApp" @change="selectApp">-->
                        <!--<option disabled value="">&#45;&#45;请选择&#45;&#45;</option>-->
                        <!--<option v-for="option in appList.options" v-bind:value="option.appId">-->
                            <!--{{ option.name }}-->
                        <!--</option>-->
                    <!--</select>-->
                <!--</div>-->
            <!--</div>-->

            <div class="form-group">
                <div class="col-sm-2 control-label">邮箱</div>
                <div class="col-sm-10">
                    <input class="form-control" v-model="user.email" placeholder="邮箱"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2 control-label">手机号</div>
                <div class="col-sm-10">
                    <input class="form-control" v-model="user.mobileNumber" placeholder="手机号"/>
                </div>
            </div>
            <div class="form-group" style="display: none;">
                <div class="col-sm-2 control-label">创建时间</div>
                <div class="col-sm-10">
                    <input class="form-control" v-model="user.createdTime" placeholder="创建时间"/>
                </div>
            </div>
            <div class="form-group" style="display: none;">
                <div class="col-sm-2 control-label">更新时间</div>
                <div class="col-sm-10">
                    <input class="form-control" v-model="user.modifiedTime" placeholder="更新时间"/>
                </div>
            </div>
            <div class="form-group" style="display: none;">
                <div class="col-sm-2 control-label">状态</div>
                <label class="radio-inline">
                    <input type="radio" name="status" value="禁用" v-model="user.status"/> 禁用
                </label>
                <label class="radio-inline">
                    <input type="radio" name="status" value="正常" v-model="user.status"/> 正常
                </label>
            </div>
            <!--<div class="form-inline clearfix" style="margin-top:30px;margin-left:26px;">-->
                <!--<div class="form-group col-md-10">-->
                    <!--<strong class="col-sm-5 control-label">选择应用</strong>-->
                    <!--<div class="col-sm-10">-->
                        <!--<ul id="applicationTree" class="ztree"></ul>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="form-inline clearfix" style="margin-top:30px;margin-left:26px;">-->
                <!--<div class="form-group col-md-10">-->
                    <!--<strong class="col-sm-5 control-label">选择部门</strong>-->
                    <!--<div class="col-sm-10">-->
                        <!--<ul id="deptTree" class="ztree"></ul>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <div class="form-group">
                <div class="col-sm-2 control-label"></div>
                <input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
                &nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload(false)" value="返回"/>
            </div>
        </form>
    </div>
</div>

<script src="../libs/router.js"></script>
<script src="../js/index.js"></script>
<script src="../js/modules/user.js"></script>
</body>
</html>