<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ 广州丰石科技有限公司拥有本软件版权2017并保留所有权利。
  ~ Copyright 2017, Guangzhou Rich Stone Data Technologies Company Limited,
  ~ All rights reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.richstonedt.garnet.dao.GarApplicationDao">

    <sql id="whereSQL">
        <if test="searchName != null and searchName != ''">
            and name LIKE CONCAT('%',#{searchName},'%')
        </if>
    </sql>

    <insert id="save" keyProperty="applicationId" useGeneratedKeys="true" parameterType="com.richstonedt.garnet.model.GarApplication">
        INSERT INTO gar_applications
        (
            name,
            code,
            company,
            remark
        )
        VALUES
            (
                #{name},
                #{code},
                #{company},
                #{remark}
            );
    </insert>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM gar_applications
        <where>
            application_id = #{id};
        </where>
    </delete>

    <delete id="deleteBatch" parameterType="java.util.List">
        delete from gar_applications WHERE application_id in
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="queryObject" resultType="com.richstonedt.garnet.model.GarApplication">
        select * from gar_applications
        <where>
            application_id = #{id};
        </where>
    </select>

    <select id="queryObjects" resultType="com.richstonedt.garnet.model.GarApplication">
        select * from gar_applications
        <where>
            <include refid="whereSQL"/>
        </where>
        ORDER BY application_id asc
        <if test="offset != null and limit != null">
            limit #{limit} offset #{offset};
        </if>
    </select>

    <select id="queryTotal" resultType="int">
        SELECT count(*) FROM gar_applications
        <where>
            <include refid="whereSQL"/>
        </where>
    </select>

    <select id="getApplicationIdByCode" resultType="java.lang.Long">
        SELECT a.application_id
        FROM gar_applications a
        WHERE a.code = #{appCode}
    </select>

    <update id="update" parameterType="com.richstonedt.garnet.model.GarApplication">
        UPDATE gar_applications
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="code != null and code != ''">
                code = #{code},
            </if>
            <if test="company != null and company != ''">
                company = #{company},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark}
            </if>
        </set>
        <where>
            application_id = #{applicationId};
        </where>
    </update>
</mapper>