<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ 广州丰石科技有限公司拥有本软件版权2017并保留所有权利。
  ~ Copyright 2017, Guangzhou Rich Stone Data Technologies Company Limited,
  ~ All rights reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.richstonedt.garnet.dao.GarDeptDao">

    <sql id="whereSQL">
        <if test="searchName != null and searchName != ''">
            and name LIKE CONCAT('%',#{searchName},'%')
        </if>
        <if test="parentDeptIds != null">
            and parent_dept_id in
            <foreach collection="parentDeptIds" index="index" item="item" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
    </sql>

    <select id="queryObject" resultType="com.richstonedt.garnet.model.GarDept">
        SELECT *
        FROM gar_depts
        WHERE dept_id = #{id};
    </select>

    <select id="queryDeptList" resultType="com.richstonedt.garnet.model.GarDept">
        select d.*,(select p.name from gar_depts p where p.dept_id = d.parent_dept_id) as parentName
        from gar_depts d
        <where>
            <if test="tenantId != null ">
                tenant_id = #{tenantId}
            </if>
            <if test="subList != null and subList != ''">
                and d.dept_id in (${subList})
            </if>
        </where>
        order by d.order_num asc
    </select>

    <insert id="save" parameterType="com.richstonedt.garnet.model.GarDept">
        INSERT INTO gar_depts
        (
            dept_id,
            parent_dept_id,
        tenant_id,
        app_id,
            name,
            order_num
        )
        VALUES
            (
                #{deptId},
                #{parentDeptId},
        1,
        1,
                #{name},
                #{orderNum}
            )
    </insert>

    <update id="update" parameterType="com.richstonedt.garnet.model.GarDept">
        update gar_depts
        <set>
            <if test="parentDeptId != null">
                parent_dept_id = #{parentDeptId},
            </if>
            <if test="name != null">
                name = #{name},
            </if>
            <if test="orderNum != null">
                order_num = #{orderNum}
            </if>
        </set>
        where dept_id = #{deptId}
    </update>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM gar_depts
        WHERE dept_id = #{id};
    </delete>

    <delete id="deleteBatch" parameterType="java.util.List">
        delete from gar_depts WHERE dept_id in
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="queryDetpIdList" resultType="long">
        SELECT dept_id
        FROM gar_depts
        WHERE parent_dept_id = #{parentDeptId}
    </select>

    <select id="getDeptByParentDeptId" resultType="com.richstonedt.garnet.model.GarDept">
        SELECT * FROM gar_depts
        <where>
            dept_id = #{parentDeptId}
        </where>
    </select>

    <select id="queryObjects" resultType="com.richstonedt.garnet.model.GarDept">
        select * from gar_depts
        <where>
            <include refid="whereSQL"/>
        </where>
        ORDER BY dept_id asc
        <if test="offset != null and limit != null">
            limit #{limit} offset #{offset};
        </if>
    </select>

    <select id="getTotalDeptByParam" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(1)
        FROM gar_depts
        <where>
            <include refid="whereSQL"/>
        </where>
    </select>

</mapper>