<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ 广州丰石科技有限公司拥有本软件版权2017并保留所有权利。
  ~ Copyright 2017, Guangzhou Rich Stone Data Technologies Company Limited,
  ~ All rights reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.richstonedt.garnet.dao.GarPermissionDao">

    <insert id="save" keyProperty="permissionId" useGeneratedKeys="true" parameterType="com.richstonedt.garnet.model.GarPermission">
        INSERT INTO gar_permissions
        (
        application_id,
        parent_id,
        name,
        permission,
        description,
        url,
        method,
        status
        )
        VALUES
            (
                #{applicationId},
                #{parentId},
                #{name},
                #{permission},
                #{description},
                #{url},
                #{method},
                #{status}
            );
    </insert>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM gar_permissions
        <where>
            permission_id = #{id};
        </where>
    </delete>

    <delete id="deleteBatch" parameterType="java.util.List">
        delete from gar_permissions WHERE permission_id in
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="queryObject" resultType="com.richstonedt.garnet.model.GarPermission">
        select * from gar_permissions
        <where>
            permission_id = #{id};
        </where>
    </select>

    <select id="queryObjects" resultType="com.richstonedt.garnet.model.GarPermission">
        select * from gar_permissions
        <where>
            <if test="searchName != null and searchName != ''">
                and `name` LIKE CONCAT('%',#{searchName},'%')
            </if>
        </where>
        ORDER BY permission_id asc
        <if test="offset != null and limit != null">
            limit #{limit} offset #{offset};
        </if>
    </select>

    <select id="queryTotal" resultType="int">
        SELECT count(*) FROM gar_permissions;
    </select>

    <update id="update" parameterType="com.richstonedt.garnet.model.GarPermission">
        UPDATE gar_permissions
        <set>
            <if test="applicationId != null">
                application_id = #{applicationId},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId},
            </if>
            <if test="name != null and  name!=''">
                name = #{name},
            </if>
            <if test="permission != null and permission != ''">
                permission = #{permission},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="url != null and url != ''">
                url = #{url},
            </if>
            <if test="method != null and method != ''">
                method = #{method},
            </if>
            <if test="status != null">
                status = #{status}
            </if>
        </set>
        <where>
            permission_id = #{permissionId};
        </where>
    </update>

    <select id="getPermissionsByIds" resultType="string" parameterType="java.util.Set">
        SELECT p.permission
        from gar_permissions AS p WHERE permission_id in
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <select id="getPermissionByPermission" resultType="com.richstonedt.garnet.model.GarPermission">
        SELECT *
        FROM gar_permissions
        WHERE permission=#{permission}
    </select>

    <select id="getPermissionByApplicationIdAndStatus" resultType="com.richstonedt.garnet.model.GarPermission">
        SELECT *
        FROM gar_permissions p
        WHERE p.application_id=#{applicationId} AND p.status=#{status}
    </select>

    <select id="getPermissionByName" resultType="com.richstonedt.garnet.model.GarPermission">
        SELECT *
        FROM gar_permissions
        WHERE name = #{name}
    </select>

</mapper>