<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ 广州丰石科技有限公司拥有本软件版权2017并保留所有权利。
  ~ Copyright 2017, Guangzhou Rich Stone Data Technologies Company Limited,
  ~ All rights reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.richstonedt.garnet.dao.GarResourceDao">

    <sql id="whereSQL">
        <if test="name != null and name != ''">
            and name LIKE CONCAT('%',#{name},'%')
        </if>
        <if test="applicationId != null">
            and application_id = #{applicationId}
        </if>
    </sql>

    <insert id="save" parameterType="com.richstonedt.garnet.model.GarResource"  keyProperty="resourceId" useGeneratedKeys="true" >
        INSERT INTO gar_resources
        (
            application_id,
            name,
            description,
            code,
            parent_code,
            path,
            status
        )
        VALUES
            (
                #{applicationId},
                #{name},
                #{description},
                #{code},
                #{parentCode},
                #{path},
                #{status}
            );
    </insert>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM gar_resources
        <where>
            resource_id = #{id};
        </where>
    </delete>

    <delete id="deleteBatch" parameterType="java.util.List">
        delete from gar_resources WHERE resource_id in
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="queryObject" resultType="com.richstonedt.garnet.model.GarResource">
        select * from gar_resources
        <where>
            resource_id = #{id};
        </where>
    </select>

    <select id="queryObjects" resultType="com.richstonedt.garnet.model.GarResource">
        select * from gar_resources
        <where>
            <if test="searchName != null and searchName != ''">
                and name LIKE CONCAT('%',#{searchName},'%')
            </if>
        </where>
        ORDER BY resource_id asc
        <if test="offset != null and limit != null">
            limit #{limit} offset #{offset};
        </if>
    </select>

    <select id="queryTotal" resultType="int">
        SELECT count(*)
        FROM gar_resources;
    </select>

    <update id="update" parameterType="com.richstonedt.garnet.model.GarResource">
        UPDATE gar_resources
        <set>
            <if test="applicationId != null">
                application_id = #{applicationId},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="description != null and description != ''">
                description = #{description},
            </if>
            <if test="code != null and code != ''">
                code = #{code},
            </if>
            <if test="parentCode != null and parentCode != ''">
                parent_code = #{parentCode},
            </if>
            <if test="path != null and path != ''">
                path = #{parentCode},
            </if>
            <if test="status != null">
                status = #{status}
            </if>
        </set>
        <where>
            resource_id = #{resourceId};
        </where>
    </update>

    <select id="getResourceNameByCode" resultType="java.lang.String">
        SELECT m.name
        FROM gar_resources m
        WHERE m.code = #{code}
    </select>

    <select id="getResourcesByAppId" resultType="com.richstonedt.garnet.model.GarResource">
        SELECT *
        FROM gar_resources
        WHERE application_id = #{appId} AND status = 1
    </select>

    <select id="getResourcesByParams" parameterType="java.util.Map" resultType="com.richstonedt.garnet.model.GarResource">
        select * from gar_resources
        <where>
            <include refid="whereSQL"/>
        </where>
        ORDER BY resource_id asc
        <if test="offset != null and limit != null">
            limit #{limit} offset #{offset};
        </if>
    </select>

    <select id="getTotalResourceByParam" parameterType="java.util.Map" resultType="java.lang.Integer">
        SELECT count(1)
        FROM gar_resources
        <where>
            <include refid="whereSQL"/>
        </where>
    </select>
</mapper>