<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ 广州丰石科技有限公司拥有本软件版权2017并保留所有权利。
  ~ Copyright 2017, Guangzhou Rich Stone Data Technologies Company Limited,
  ~ All rights reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.richstonedt.garnet.dao.GarRoleAuthorityDao">

    <sql id="subQuery">
        SELECT
            ra.role_id AS role_id,
            a.name     AS name
        FROM gar_role_authority ra
            LEFT JOIN gar_authorities a ON a.authority_id = ra.authority_id
    </sql>

    <insert id="saveRoleAuthority">
        INSERT INTO gar_role_authority
        (
            role_id, authority_id
        )
        VALUES
            (
                #{roleId}, #{authorityId}
            )
    </insert>

    <delete id="deleteRoleAuthorityByRoleId">
        DELETE FROM gar_role_authority
        WHERE role_id = #{roleId}
    </delete>

    <delete id="deleteBatchByRoleIds">
        DELETE FROM gar_role_authority
        WHERE role_id IN
        <foreach collection="roleIds" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getAuthorityNamesByRoleId" resultType="java.lang.String">
        SELECT sub.name
        FROM (<include refid="subQuery"/>) AS sub
        WHERE sub.role_id = #{roleId}
    </select>

    <select id="getAuthorityIdsByRoleId" resultType="java.lang.Long">
        SELECT authority_id
        FROM gar_role_authority
        WHERE role_id = #{roleId}
    </select>

</mapper>