<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ 广州丰石科技有限公司拥有本软件版权2017并保留所有权利。
  ~ Copyright 2017, Guangzhou Rich Stone Data Technologies Company Limited,
  ~ All rights reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.richstonedt.garnet.dao.GarResourceApiDao">

    <insert id="save">
        INSERT INTO gar_resource_api
        (
        resource_id,
        api_id
        )
        VALUES
        (
        #{resourceId},
        #{apiId}
        );
    </insert>

    <delete id="deleteByResourceId">
        DELETE
        FROM gar_resource_api mp
        WHERE mp.resource_id = #{resourceId}
    </delete>

    <select id="getApiIdsByResourceId" resultType="java.lang.Long">
        SELECT mp.api_id
        FROM gar_resource_api mp
        WHERE mp.resource_id = #{resourceId}
    </select>

</mapper>