<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ 广州丰石科技有限公司拥有本软件版权2017并保留所有权利。
  ~ Copyright 2017, Guangzhou Rich Stone Data Technologies Company Limited,
  ~ All rights reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.richstonedt.garnet.dao.GarRolePermissionDao">

    <sql id="subQuery">
        SELECT
            rp.role_id AS role_id,
            a.name     AS name
        FROM gar_role_permission rp
            LEFT JOIN gar_permissions a ON a.permission_id = rp.permission_id
    </sql>

    <insert id="saveRolePermission">
        INSERT INTO gar_role_permission
        (
            role_id, permission_id
        )
        VALUES
            (
                #{roleId}, #{permissionId}
            )
    </insert>

    <delete id="deleteRolePermissionByRoleId">
        DELETE FROM gar_role_permission
        WHERE role_id = #{roleId}
    </delete>

    <delete id="deleteBatchByRoleIds">
        DELETE FROM gar_role_permission
        WHERE role_id IN
        <foreach collection="roleIds" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getPermissionNamesByRoleId" resultType="java.lang.String">
        SELECT sub.name
        FROM (<include refid="subQuery"/>) AS sub
        WHERE sub.role_id = #{roleId}
    </select>

    <select id="getPermissionIdsByRoleId" resultType="java.lang.Long">
        SELECT permission_id
        FROM gar_role_permission
        WHERE role_id = #{roleId}
    </select>

    <delete id="deleteByPermissionId">
        DELETE FROM gar_role_permission
        WHERE permission_id = #{permissionId}
    </delete>

    <delete id="deleteBatchByPermissionIds">
        DELETE FROM gar_role_permission
        WHERE permission_id IN
        <foreach collection="permissionIds" index="index" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>