<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ 广州丰石科技有限公司拥有本软件版权2017并保留所有权利。
  ~ Copyright 2017, Guangzhou Rich Stone Data Technologies Company Limited,
  ~ All rights reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.richstonedt.garnet.dao.GarTenantDao">

    <insert id="save" parameterType="com.richstonedt.garnet.model.GarTenant">
        INSERT INTO gar_tenants
        (
        tenant_id,
            name,
            remark
        )
        VALUES
            (
        #{tenantId},
                #{name},
                #{remark}
            );
    </insert>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM gar_tenants
        <where>
            tenant_id = #{id};
        </where>
    </delete>

    <delete id="deleteBatch" parameterType="java.util.List">
        delete from gar_tenants WHERE tenant_id in
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="queryObject" resultType="com.richstonedt.garnet.model.GarTenant">
        select * from gar_tenants
        <where>
            tenant_id = #{id};
        </where>
    </select>

    <select id="queryObjects" resultType="com.richstonedt.garnet.model.GarTenant">
        select * from gar_tenants
        <where>
            <if test="searchName != null and searchName != ''">
                name LIKE CONCAT('%',#{searchName},'%')
            </if>
        </where>
        ORDER BY tenant_id asc
        <if test="offset != null and limit != null">
            limit #{limit} offset #{offset};
        </if>
    </select>

    <select id="queryTotal" resultType="int">
        SELECT count(*) FROM gar_tenants;
    </select>

    <update id="update" parameterType="com.richstonedt.garnet.model.GarTenant">
        UPDATE gar_tenants
        <set>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="remark != null and remark != ''">
                remark = #{remark}
            </if>
        </set>
        <where>
            tenant_id = #{tenantId};
        </where>
    </update>
</mapper>