<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ 广州丰石科技有限公司拥有本软件版权2017并保留所有权利。
  ~ Copyright 2017, Guangzhou Rich Stone Data Technologies Company Limited,
  ~ All rights reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.richstonedt.garnet.dao.GarUserApplicationDao">

    <insert id="save">
        INSERT INTO gar_user_application
        (
          user_id,
          app_id
        )
        VALUES
        (
          #{userId},
          #{applicationId}
        );
    </insert>

    <delete id="deleteByUserId">
    DELETE
    FROM gar_user_application
    WHERE user_id = #{userId}
    </delete>

    <select id="getApplicationIdByUserId" resultType="java.lang.Long">
        SELECT app_id
        FROM gar_user_application
        WHERE user_id = #{userId}
    </select>

</mapper>