<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ 广州丰石科技有限公司拥有本软件版权2017并保留所有权利。
  ~ Copyright 2017, Guangzhou Rich Stone Data Technologies Company Limited,
  ~ All rights reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.richstonedt.garnet.dao.GarUserDao">

    <sql id="whereSQL">
        <if test="searchName != null and searchName != ''">
            and username LIKE CONCAT('%',#{searchName},'%')
        </if>
    </sql>

    <insert id="save" parameterType="com.richstonedt.garnet.model.GarUser">
        INSERT INTO gar_users
        (
            user_id,
            username,
            password,
            name,
            email,
            mobile,
            status
        )
        VALUES
            (
        #{userId},
                #{userName},
                #{password},
                #{name},
                #{email},
                #{mobile},
        #{status}
            );
    </insert>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM gar_users
        <where>
            user_id = #{id};
        </where>
    </delete>

    <delete id="deleteBatch" parameterType="java.util.List">
        delete from gar_users WHERE user_id in
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="queryObject" resultType="com.richstonedt.garnet.model.GarUser">
        select * from gar_users
        <where>
            user_id = #{id};
        </where>
    </select>

    <select id="getUserByName" resultType="com.richstonedt.garnet.model.GarUser">
        select * from gar_users
        <where>
            username = #{userName};
        </where>
    </select>

    <select id="getUserByNameAndAppId" resultType="com.richstonedt.garnet.model.GarUser">
        select * from (
        SELECT
        a.application_id AS application_id,
        u.user_id AS user_id,
        u.username AS username,
        u.password AS password,
        u.name AS name,
        u.email AS email,
        u.mobile AS mobile,
        u.status AS status,
        u.create_time AS create_time
        FROM gar_users u,gar_user_application ua,gar_applications a
        WHERE u.user_id = ua.user_id AND a.application_id = ua.application_id
        ) AS ua
        <where>
            ua.username = #{userName} AND ua.application_id = #{applicationId};
        </where>
    </select>

    <select id="queryObjects" resultType="com.richstonedt.garnet.model.GarUser">
        select * from gar_users
        <where>
            <include refid="whereSQL"/>
        </where>
        ORDER BY user_id asc
        <if test="offset != null and limit != null">
            limit #{limit} offset #{offset};
        </if>
    </select>

    <select id="queryUserList" resultType="com.richstonedt.garnet.model.GarUser">
        select * from gar_users
        <where>
            <if test="tenantId != null">
                tenant_id = #{tenantId}
            </if>
            <if test="searchName != null and searchName != ''">
                and username LIKE CONCAT('%',#{searchName},'%')
            </if>
        </where>
        ORDER BY user_id asc
        <if test="offset != null and limit != null">
            limit #{limit} offset #{offset};
        </if>
    </select>

    <select id="queryTotal" resultType="int">
        SELECT count(1)
        FROM gar_users
        <where>
            <include refid="whereSQL"/>
        </where>
    </select>

    <update id="update" parameterType="com.richstonedt.garnet.model.GarUser">
        UPDATE gar_users
        <set>
            <if test="userName != null and userName != ''">
                username = #{userName},
            </if>
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="email != null and email != ''">
                email = #{email},
            </if>
            <if test="mobile != null and mobile != ''">
                mobile = #{mobile},
            </if>
            <if test="status != null">
                status = #{status}
            </if>
        </set>
        <where>
            user_id = #{userId};
        </where>
    </update>

    <update id="updatePassword">
        UPDATE gar_users
        <set>
            password = #{password}
        </set>
        <where>
            user_id = #{userId};
        </where>
    </update>
</mapper>