<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ 广州丰石科技有限公司拥有本软件版权2017并保留所有权利。
  ~ Copyright 2017, Guangzhou Rich Stone Data Technologies Company Limited,
  ~ All rights reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.richstonedt.garnet.dao.GarUserApiDao">
    <!-- 让 mybatis 的二级缓存缓存这个 mapper -->
    <cache/>

    <sql id="subQuery">
        SELECT DISTINCT
            u.user_id    AS user_id,
            ua.application_id    AS application_id,
            app.code    AS app_code,
            a.permission AS permission
        FROM gar_users u,
            gar_applications app,
            gar_user_application ua,
            gar_user_department ud,
            gar_role_department rd,
            gar_role_permission rp,
            gar_permissions p,
            gar_resources m,
            gar_resource_api mp,
            gar_apis a
        WHERE m.status = 1
              AND a.status = 1
              AND ua.user_id = u.user_id
              AND app.application_id = ua.application_id
              AND ud.user_id = u.user_id
              AND rd.department_id = ud.department_id
              AND rp.role_id = rd.role_id
              AND p.permission_id = rp.permission_id
              AND m.application_id = p.application_id
              AND m.path LIKE p.wildcard
              AND mp.resource_id = m.resource_id
              AND mp.api_id = a.api_id
    </sql>

    <select id="getApiPermissionByUserIdAndAppId" resultType="java.lang.String">
        SELECT up.permission
        FROM (<include refid="subQuery"/>) AS up
        WHERE user_id = #{userId} AND application_id = #{applicationId}
    </select>

    <select id="getApiPermissionsByUserIdAndAppCode" resultType="java.lang.String">
        SELECT up.permission
        FROM (<include refid="subQuery"/>) AS up
        WHERE user_id = #{userId} AND app_code = #{appCode}
    </select>

</mapper>