<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ 广州丰石科技有限公司拥有本软件版权2017并保留所有权利。
  ~ Copyright 2017, Guangzhou Rich Stone Data Technologies Company Limited,
  ~ All rights reserved.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.richstonedt.garnet.dao.GarUserResourceDao">

    <sql id="subQuery">
            SELECT DISTINCT
                u.user_id AS user_id,
                ap.app_id AS app_id,
                m.resource_id AS resource_id,
                m.application_id AS application_id,
                m.name AS name,
                m.description AS description,
                m.code AS code,
                m.parent_code AS parent_code,
                m.status AS status
            FROM gar_users u
                LEFT JOIN gar_user_application ap ON ap.user_id = u.user_id
                LEFT JOIN gar_user_dept ud ON ud.user_id = u.user_id
                LEFT JOIN gar_role_dept rd ON rd.dept_id = ud.dept_id
                LEFT JOIN gar_role_authority ra ON ra.role_id = rd.role_id
--                 LEFT JOIN gar_authority_resource am ON am.authority_id = ra.authority_id
--                 LEFT JOIN gar_resources m ON m.resource_id = am.resource_id
                LEFT JOIN gar_authorities a ON a.authority_id = ra.authority_id
                LEFT JOIN gar_resources m ON m.path LIKE a.wildcard
            WHERE m.status = 1
    </sql>

    <select id="getCodeByUserId" resultType="java.lang.String">
        SELECT ur.code
        FROM
        (<include refid="subQuery"/>) AS ur
        WHERE ur.user_id = #{userId} AND ur.app_id = #{appId}
    </select>


</mapper>